{% extends 'base.html.twig' %}

{% block title %}Cigarettes index{% endblock %}

{% block body %}
    <h1>Cigarettes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cigarette in cigarettes %}
            <tr>
                <td>{{ cigarette.id }}</td>
                <td>{{ cigarette.Brand }}</td>
                <td>
                    <a href="{{ path('app_cigarettes_show', {'id': cigarette.id}) }}">show</a>
                    <a href="{{ path('app_cigarettes_edit', {'id': cigarette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cigarettes_new') }}">Create new</a>
{% endblock %}
